<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/AccountSettings/style.css">
    <link rel="stylesheet" href="~/AccountSettings/style.js">

    <title>Hesap Ayarlarım</title>

</head>
<body>

    <div class="container">
        <h2>Hesap Ayarlarım</h2>
        <div class="tab-buttons">
            <a asp-controller="Address" asp-action="Address" class="btn-blue active-tab" onclick="showTab('address')">Adres Bilgilerim</a>
            <a asp-controller="CreditCard" asp-action="CreditCard" class="btn-blue" onclick="showTab('cards')">Kayıtlı Kartlarım</a>
            <a href="#" class="btn-blue" onclick="showTab('emailChange')">E-Posta Değişikliği</a>
            <a href="#" class="btn-blue" onclick="showTab('passwordChange')">Şifre Değişikliği</a>
            <a href="/User/Login" class="btn-red">Çıkış Yap</a>
        </div>    
    </div>

   

</body>
</html>
