@using PerfumeSite.UserViewModels
@model UserViewModel

@{
    Layout = "_Layout";
	
}

<link rel="stylesheet" href="~/User/ResetPassword/style.css">
<link rel="stylesheet" href="~/_Layout/style.css">

<div class="password-reset-container">
    <h2>Şifreni Yenile</h2>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }


    <form asp-controller="User" asp-action="UpdatePasswordWithoutCheck" method="post">
        <div class="password-input-group">
            <label for="password">Yeni Şifre</label>
            <input type="password" id="password" name="Password" placeholder="Yeni Şifreni Gir" asp-for="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <input type="hidden" name="id" value="@Model.Id" />

        <button type="submit" class="password-reset-button">Yenile</button>
    </form>

    <div class="password-reset-footer">
        <p>© 2024 PerfumeSite Tüm Hakları Saklıdır</p>
    </div>
</div>
