body {
    margin: 0;
    padding: 0;
    background-color:gray;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 60px;
    width: 60px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 60px;
}

    .sidebar:hover {
        width: 250px;
    }

    .sidebar .dropdown-menu {
        background-color: #343a40;
        border: none;
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        z-index: 1000;
    }

.sidebar-dropdown {
    position: relative;
    width: 100%;
    top:-60px
}

    .sidebar-dropdown:hover .dropdown-menu {
        display: block;
    }

.sidebar .dropdown-item {
    color: white;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

    .sidebar .dropdown-item i {
        margin-right: 10px;
    }

    .sidebar .dropdown-item:hover {
        background-color: #495057;
    }

.sidebar a {
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    opacity: 1;
}

    .sidebar a i {
        font-size: 20px;
        margin-right: 10px;
    }

.sidebar span {
    opacity: 0;
    transition: opacity 0.3s;
}

.sidebar:hover span {
    opacity: 1;
}

.content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    padding-top: 60px;
}
