
.user-container {
    max-width: 1200px; 
    margin: 40px auto; 
    padding: 20px; 
    background: rgba(0, 0, 0, 0.6); 
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
}


.user-title {
    font-size: 35px; 
    color: gold;
    margin-bottom: 20px; 
}


.user-actions {
    display: flex; 
    justify-content: center;
    margin-bottom: 20px; 
    
}

.btn-order-history {
    background-color: gray; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background 0.3s; 
    margin-bottom: 20px;
}
    
    .btn-order-history:hover {
        background-color: gold; 
        color: black; 
    }


.table-wrapper {
    overflow-x: auto; 
}

.user-table {
    width: 100%; 
    border-collapse: collapse; 
    background: gray; 
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
}

    .user-table th, .user-table td {
        padding: 12px; 
        text-align: center; 
        border-bottom: 1px solid #ddd; 
    }

    .user-table th {
        background-color: black; 
        color: white; 
        font-weight: bold; 
    }

    .user-table tr:hover {
        background-color: rgba(0, 0, 0, 0.6);
    }
