body {
    background-color: gray;
}

.reset-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 10px;
    color: gold;
    text-align: center;
    width: 450px;
    margin:auto;
    margin-top:100px;
}

    .reset-container h1 {
        font-size: 1.8rem;
        margin-bottom: 20px;
        text-align:center;
    }

.form-floating input {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: red;
}

.form-floating label {
    color: gold;
}

.btn-reset {
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: gold;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
    margin-top: 15px;
}

    .btn-reset:hover {
        background-color: gray;
        color: white;
    }

.footer-text {
    margin-top: 20px;
    font-size: 0.9rem;
    color: white;
}
