@using PerfumeSite.CategoryViewModels
@model AddCategoryViewModel

@{
    Layout = "_AdminLayout";
}
<link rel="stylesheet" href="~/Category/AddCategory/style.css" />

<div class="category-form-container">
    <h2 class="category-title">Yeni Kategori Ekle</h2>

    <form asp-controller="Category" asp-action="AddCategory" method="post" class="category-form">
        <div class="form-group">
            <label>Kategori Adı</label>
            <input type="text" class="form-control" asp-for="Name" name="Name" required>
        </div>
        <div class="button-group">
            <a asp-controller="Admin" asp-action="GetProducts" class="btn-back">Geri Dön</a>
            <button type="submit" class="btn-add">Ekle</button>
        </div>
    </form>
</div>
