@using PerfumeSite.BrandViewModels
@model AddBrandViewModel

@{
    Layout = "_AdminLayout";
}


<link rel="stylesheet" href="~/Brand/AddBrand/style.css" />

<div class="brand-form-container">
    <h2 class="brand-title">Yeni Marka Ekle</h2>

    <form asp-controller="Brand" asp-action="AddBrand" method="post" class="brand-form">
        <div class="form-group">
            <label for="brandName">Marka Adı</label>
            <input type="text" id="brandName" class="form-control" asp-for="Name" name="Name" required>
        </div>
        <div class="button-group">
            <a asp-controller="Admin" asp-action="GetProducts" class="btn btn-back">Geri Dön</a>
            <button type="submit" class="btn btn-add">Ekle</button>
        </div>
    </form>
</div>
