@using PerfumeSite.BrandViewModels
@model AddBrandViewModel

@{
    Layout = "_AdminLayout";
}

<link rel="stylesheet" href="~/Brand/UpdateBrand/style.css" />

<div class="brand-update-container">
    <h2 class="brand-update-title">Marka Güncelle</h2>

    <form asp-controller="Brand" asp-action="UpdateBrand" method="post" class="brand-update-form">
        <div class="form-group">
            <label>Marka Adı</label>
            <input type="text" id="brandName" class="form-control" asp-for="Name" name="Name" required>
        </div>

        <input type="hidden" value="@Model.Id" name="id" />

        <div class="button-group">
            <a asp-controller="Brand" asp-action="GetAllBrands" class="btn btn-back">Geri Dön</a>
            <button type="submit" class="btn btn-update">Güncelle</button>
        </div>
    </form>
</div>
