.nav-link-custom {
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

    .nav-link-custom i {
        transition: all 0.3s ease;
        font-size: 20px;
    }

    .nav-link-custom:hover {
        color: red !important;
    }

        .nav-link-custom:hover i {
            color: red !important;
            transform: scale(1.1);
            font-weight: 900;
        }

.search-bar {
    width: 400px;
}

.category-dropdown .dropdown-toggle {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

    .category-dropdown .dropdown-toggle:hover {
        background-color: #c82333;
    }

.category-dropdown .dropdown-menu {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
