/* MyAccount/style.css */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif; /* Fontu layout ile aynı yapmak için */
    background-color: rgba(0, 0, 0, 0.6); /* İçerik arka plan rengi */
}

.sidebar {
    width: 250px; /* Sidebar genişliği */
    background-color: rgba(0, 0, 0, 0.8); /* Koyu arka plan rengi */
    padding: 20px;
    height: calc(100vh - 0px); /* Yükseklik tam sayfa boyu, navbar hariç */
    position: absolute; /* Sabit konumda */
    top: 60px; /* Üstten navbar yüksekliği kadar boşluk bırak */
    left: 0; /* Soldan sabitle */
    overflow-y: auto; /* Taşma durumunda kaydırma çubuğu */
    z-index: 1000; /* Diğer içeriklerin üstünde görünmesi için */
}

.sidebar h2 {
    color: gold; /* Başlık rengi */
    font-size: 1.5rem; /* Başlık boyutu */
    margin-bottom: 20px; /* Alt boşluk */
}

.account-btn {
    display: block; /* Butonlar blok seviyesinde olacak */
    color: white; /* Buton metin rengi */
    text-decoration: none; /* Alt çizgiyi kaldır */
    padding: 10px; /* İçerik boşluğu */
    margin-bottom: 10px; /* Butonlar arasındaki mesafe */
    border-radius: 5px; /* Kenarları yuvarla */
    transition: background-color 0.3s; /* Geçiş efekti */
}

.account-btn:hover {
    background-color: rgba(255, 215, 0, 0.6); /* Hover rengi */
}

