 @using PerfumeSite.CreditCardViewModels
@model CreditCardViewModel
@{
    Layout = "_Layout";
}
@{
    var userId = Context.Session.GetInt32("Id");
}



<link rel="stylesheet" href="~/CreditCard/AddCreditCard/style.css">
<link rel="stylesheet" href="~/User/MyAccount/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<div class="credit-card-page">
    <div class="sidebar">
        <a asp-controller="Order" asp-action="Index" class="account-btn">
            <i class="fas fa-box"></i> Tüm Siparişlerim
        </a>
        <a asp-controller="Favorite" asp-action="GetFavorites" class="account-btn">
            <i class="fas fa-heart"></i> Favorilerim
        </a>
        <a asp-controller="Basket" asp-action="GetBasket" class="account-btn">
            <i class="fas fa-shopping-cart"></i> Sepetim
        </a>
        <a asp-controller="User" asp-action="AccountSettings" class="account-btn">
            <i class="fas fa-user-cog"></i> Hesap Ayarlarım
        </a>
        <a asp-controller="User" asp-action="Login" class="account-btn">
            <i class="fa-solid fa-right-from-bracket"></i> Çıkış Yap
        </a>
        
    </div>

    <div class="content-container">
        <div class="credit-card-form-container">
            <h2>Kart Ekle</h2>
            <form asp-controller="CreditCard" asp-action="AddCreditCard" method="post">
                <div class="form-group">
                    <label for="CardNumber" class="form-label">Kart Numarası</label>

                    <input type="text" pattern="[0-9]*" inputmode="numeric" minlength="16" maxlength="16"  name="CreditCardNumber" class="form-control" required asp-for="CreditCardNumber" placeholder="Kart Numarası">
                </div>
                <div class="form-group">
                    <label for="ValidityDate" class="form-label">Kart Geçerlilik Tarihi</label>
                    <input type="text" pattern="[0-9]*" inputmode="numeric" minlength="4" maxlength="4" name="CreditCardValidityDate" class="form-control" required asp-for="CreditCardValidityDate" placeholder="Geçerlilik Tarihi">
                </div>
                <div class="form-group">
                    <label for="CVV" class="form-label">Güvenlik Kodu</label>
                    <input type="text" pattern="[0-9]*" inputmode="numeric" minlength="3" maxlength="3" name="CreditCardVerificationCode" class="form-control" required asp-for="CreditCardVerificationCode" placeholder="CVV">
                </div>
                <div class="btn-container">
                    <button type="submit" id="btn" class="btn btn-primary">Ekle</button>
                </div>
                <input hidden value="@userId" name="userId" />
            </form>
        </div>
    </div>
</div>

