@using PerfumeSite.OrderViewModels
@model OrderViewModel



<link rel="stylesheet" href="~/Order/ConfirmOrder/style.css">


<div class="order-confirmation">
    <h1>Sipariş Onaylandı!</h1>
    <p>Siparişiniz başarıyla onaylanmıştır.</p>
    <p>Sipariş geçmişinizi profilinizden görüntüleyebilirsiniz.</p>
    <a href="/Profile/OrderHistory"  class="confirm-order>Sipariş Geçmişinizi Görüntüleyin </a>
</div>
