@using PerfumeSite.AddressViewModels
@model AddressViewModel
@{
    Layout = "_Layout";
}
@{
    var userId = Context.Session.GetInt32("Id");
}

<link rel="stylesheet" href="~/Address/AddAddress/style.css">
<link rel="stylesheet" href="~/User/MyAccount/style.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 



<div class="address-page">
    <div class="sidebar">
        <a asp-controller="Order" asp-action="Index" class="account-btn">
            <i class="fas fa-box"></i> Tüm Siparişlerim
        </a>
        <a asp-controller="Favorites" asp-action="Index" class="account-btn">
            <i class="fas fa-heart"></i> Favorilerim
        </a>
        <a asp-controller="Cart" asp-action="Index" class="account-btn">
            <i class="fas fa-shopping-cart"></i> Sepetim
        </a>
        <a asp-controller="User" asp-action="AccountSettings" class="account-btn">
            <i class="fas fa-user-cog"></i> Hesap Ayarlarım
        </a>
       
    </div>

    <div class="address-form-container">
        <h2>Adres Ekle</h2>
        <form asp-controller="Address" asp-action="AddAddress" method="post">
            <div class="row">
               
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="Country" class="form-label">Ülke</label>
                        <input type="text" id="Country" name="Country" class="form-control"  placeholder="Ülkenizi girin">
                    </div>
                    <div class="mb-3">
                        <label for="City" class="form-label">Şehir</label>
                        <input type="text" id="City" name="City" class="form-control" required placeholder="Şehrinizi girin">
                    </div>
                    <div class="mb-3">
                        <label for="District" class="form-label">İlçe</label>
                        <input type="text" id="District" name="District" class="form-control" required placeholder="İlçenizi girin">
                    </div>

                   
                    <div class="mb-3 form-group">
                        <label for="Neighbourhood" class="form-label">Mahalle</label>
                        <input type="text" id="Neighbourhood" name="Neighbourhood" class="form-control" required placeholder="Mahallenizi girin">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="Street" class="form-label">Sokak</label>
                        <input type="text" id="Street" name="Street" class="form-control" required placeholder="Sokağınızı girin">
                    </div>
                    <div class="mb-3">
                        <label for="BuildingNumber" class="form-label">Bina No</label>
                        <input type="text" id="BuildingNumber" name="BuildingNumber" class="form-control" required placeholder="Bina numaranızı girin">
                    </div>
                    <div class="mb-3">
                        <label for="DoorNumber" class="form-label">Daire No</label>
                        <input type="text" id="DoorNumber" name="DoorNumber" class="form-control" required placeholder="Daire numaranızı girin">
                    </div>

                    
                    <div class="btn-container">
                        <button type="submit" id="btn" class="btn btn-primary">Ekle</button>
                    </div>
                    <input hidden value="@userId" name="userId" />
                </div>
            </div>
        </form>
    </div>
</div>
