body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Açık arka plan rengi */
}

.navbar {
    z-index: 1030; /* Navbar'ın diğer öğelerin üzerinde görünmesi için */
    background-color: #343a40; /* Navbar arka plan rengi */
    color: white; /* Navbar metin rengi */
    padding: 10px; /* Navbar içi boşluk */
}

.container {
    margin-top: 20px; /* Üstten boşluk */
}

.table {
    width: 100%; /* Tablonun genişliği */
    margin-top: 20px; /* Üstten boşluk */
}

    .table th, .table td {
        text-align: center; /* Tablodaki hücre metinleri ortalanır */
    }

    .table th {
        background-color: #343a40; /* Başlık hücreleri için arka plan rengi */
        color: white; /* Başlık metin rengi */
    }

    .table td {
        background-color: white; /* Hücrelerin arka plan rengi */
    }

.btn {
    margin: 0 5px; /* Butonlar arasındaki boşluk */
}

/* Modal Stilleri */
.modal-header {
    background-color: #343a40; /* Modal başlık arka plan rengi */
    color: white; /* Modal başlık metin rengi */
}

.modal-footer {
    background-color: #f1f1f1; /* Modal alt kısmının arka plan rengi */
}

/* Modal içerik alanları için stil */
.form-label {
    font-weight: bold; /* Form etiketleri için kalın yazı */
}

.modal-body {
    padding: 20px; /* Modal içi boşluk */
}

.modal-content {
    border-radius: 5px; /* Modal köşe yuvarlama */
}
